.flex{
    display: flex;
}
.BarreMessage{
    background-color: deeppink;
    color: white;
}
.nombre{

    margin: 5px;
    border: 1px solid black;
    width: px;
    height: 30px;
}
.nombres{
    display: inline-flex;
    width: 15px;
}

