
body{
    width: 70vw;
}


.flex {
    display: flex;
}

.BarreMessage {
    background-color: deeppink;
    color: white;
}

.nombre {
    margin: 15px;
    padding: 1rem 1.25rem;
    border: 1px solid black;
    text-align: center;
}

.nombres {
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;


}

